.Navbar{
    width:7vw;
    height: 80vh;
    background-color: rgb(32, 48, 70);
    margin: 20px;
    border: 0px solid #000;
    border-radius: 40px;
    position: relative;
}
.verticalNavbarLogos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbarlogo{
    position: relative;
    margin-bottom: 40px;
}
img{

    padding-top: 20px;
    width: 60px;
    height: 60px;
}
button{
    color: rgb(104, 107, 123);
    font-size: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button:hover{
    color: rgb(255,135,183);
    transform: scale(1.3);
}